#tasks {
    padding: 20px 15px 5px;
}

#tasks .wrapper_list{
    background-color: var(--global-bg-color);
    border-radius: var(--global-border-radius);
    height: calc(100vh - 100px);
    padding: 10px;
    box-shadow: 0 2px 5px #dbdbdb;
}

#tasks .wrapper_list h2 {
    font-size: 1.2rem;
    margin: 0;
}

#tasks .wrapper_list .list_group{
    display: flex;
    flex-direction: column;
    gap: 5px 10px;
}
#tasks .wrapper_list .list_group .list{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex: 1; */
    border-radius: var(--global-radius);
    padding: 10px;
    box-shadow: 0 2px 5px #dbdbdb;
    background-color: white;
}
#tasks h4{
    align-self: center;
}
    #tasks .wrapper_list .list_group .list h4{
        font-size: 1.2rem;
        margin: 0;
}

#tasks .card {
    width: 95%;
    background-color: #fff;
    /* border: var(--global-border); */
    border-radius: var(--global-border-radius);
    margin-bottom: 0.8rem;
    padding: 0.8rem 1.1rem 0.9rem;
    position: relative;
    transition: transform 0.2 ease-out;
}
    #tasks .card h3 {
        font-size: 1rem;
        font-weight: 700;
        margin: 0 0 0.2rem;
        padding: 0;
    }
    #tasks .card h5 {
        margin: 0;
        padding: 0;
    }
    #tasks .card h6 {
        margin: 0;
        padding: 0;
    }
    
    #tasks .card button {
        font-size: .75rem;
        color: white;
        background-color: var(--global-primary-color);
        border-radius: 5px;
        border: 0;
        margin: .2em .2em .2em 0;
        padding: 0.25em;
    }
    #tasks .card p {
        font-size:0.8rem;
        display: block;
        margin: 0;
        max-width: 50%;
        
    }

    #tasks .card .close {
        cursor: pointer;
        position: absolute;
        right: 12px;
        top: 10px;
        font-size: 18px;
    }



/* @media (min-width: 900px) {
    .phone{
        display: none;
        
    }
    #tasks .wrapper_list .list_group{
        display: flex;
    }
    #tasks .card {
        width: 100%;
    }
} */